/* css for gallery */
/* team css */
.main-content .title {
    color: rgb(238,49,69);
    font-size: 35px;
    /* font-weight: bold; */
}

.main-content .sub-title {
    color: rgb(238,49,69);
    font-size: 17px;
    font-weight: normal;
}

.main-content p {
    font-size: 13px;
    text-align: justify;
    margin-top: 0px;
}

.main-footer {
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgba(238,49,69,0.85);
    bottom: 0;
}

.navigation {
	border-bottom: 3px solid #cf293f;
}

.sub-content-title {
    font-size: 34px;
    font-weight: 300;
}

.sub-content-description p {
    font-size: 14px;
}

.main-image-overlay{
	background: rgba(0,0,0,0.7);
}



.title {
    text-transform: uppercase;
    font-size: 24px !important;
    padding: 10px;
    padding-bottom: 0px;
}

.main-content .title span {
    font-weight: bold;
}

.main-content .title {
    color: rgb(238,49,69);
    font-weight: 300;
    border-bottom: 1px solid;
    padding-left: 0;
}

.gallery-type {
    float: left;
    width: 50%;
    padding: 15%;
}

.gallery-type-select {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

.gallery-type-select {}

.image-container img {
    width: 100%;
}


.image-collection {
    margin-top: 100px;
}

.navigation {
    top: 0;
}

.image-container img {
    display: block !important;
    width: 100%;
    float: left;
}

.image-collection-item {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.image-collection-item {}

.image-container {
    overflow: hidden;
    height: 200px;
}

.image-description {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    width: 100%;
    padding: 15px;
}

.image-collection-title {
    font-size: 18px;
    color: #cf293f;
    line-height: 18px;
}

.image-collection-size {
    font-size: 12px;
    color: #949292;
}
.image-collection-item {
    margin: 5px;
    margin-bottom: 20px;
}
.gallery-collection{
    display: none;
}
.image-list{
    display: none;
}

.image-list {
    margin-top: 100px;
}



@media(max-width: 768px){
    body{
        overflow: auto;
    }
    
    .slide-btn {
        position: fixed;
        padding: 25px;
        top: 0;
        left: 0;
        z-index: 1;
        color: #000;
    }
    .site-logo{
        text-align: center;
        float: none;
    }
    /*.main-image{
        position: relative;
    }*/
        .main-image img {
        width: auto;
        height: 100%;
    }
    .gallery-type-select {
          /* overflow: hidden; */
        width: 100%;
        margin: 0 auto;
        padding: 25px 30px;
        margin-top: 50px;
    }
    .gallery-type {
        float: left;
        width: 100%;
        padding: 15% 25% 5%;
    }
    .image-container {
        overflow: hidden;
        height: 100%;
    }
    .main-content {
        background: rgba(255,255,255,0.85);
        width: 100% ;
        height: auto;
        position: relative;
        padding: 25px;
        -webkit-clip-path:none;
        -moz-clip-path:none;
        -o-clip-path:none;
        clip-path:none;
        right: 0px !important;
        top: 0px;
    }   
    .sub-content-title {
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
    .team-member-bio {
        float: left;
        width:100%;
    }
    .main-footer{
        position: fixed !important;
        bottom: 0 !important;
    }
    .image-container img {
        display: block !important;
        width: 100%;
        float: left;
        height: auto;
        min-height: 130px;
    }
    .image-collection-title {
        font-size: 14px;
        color: #cf293f;
        line-height: 18px;
    }
}