/* css for gallery */
/* team css */
.main-content .title {
    color: rgb(238,49,69);
    font-size: 35px;
    /* font-weight: bold; */
}

.main-content .sub-title {
    color: rgb(238,49,69);
    font-size: 17px;
    font-weight: normal;
}

.main-content p {
    font-size: 13px;
    text-align: justify;
    margin-top: 0px;
}

.main-footer {
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgba(238,49,69,0.85);
    bottom: 0;
}

.navigation {
	border-bottom: 3px solid #cf293f;
}

.sub-content-title {
    font-size: 34px;
    font-weight: 300;
}

.sub-content-description p {
    font-size: 14px;
}

.main-image-overlay{
	background: rgba(0,0,0,0.7);
}



.title {
    text-transform: uppercase;
    font-size: 24px !important;
    padding: 10px;
    padding-bottom: 0px;
}

.main-content .title span {
    font-weight: bold;
}

.main-content .title {
    color: rgb(238,49,69);
    font-weight: 300;
    border-bottom: 1px solid;
    padding-left: 0;
}

.gallery-type {
    float: left;
    width: 50%;
    padding: 15%;
}

.gallery-type-select {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

.gallery-type-select {}

.image-container img {
    width: 100%;
}


.image-collection {
    margin-top: 100px;
}

.navigation {
    top: 0;
}

.image-container img {
    display: block !important;
    width: 100%;
    float: left;
}

.image-collection-item {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.image-collection-item {}

.image-container {
    overflow: hidden;
    height: 200px;
}

.image-description {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    width: 100%;
    padding: 15px;
}

.image-collection-title {
    font-size: 18px;
    color: #cf293f;
    line-height: 18px;
}

.image-collection-size {
    font-size: 12px;
    color: #949292;
}
.image-collection-item {
    margin: 5px;
    margin-bottom: 20px;
}
.gallery-collection{
    display: none;
}
.image-list{
    display: none;
}

.image-list {
    margin-top: 100px;
}