/* team css */
.main-content .title {
    color: rgb(238,49,69);
    font-size: 35px;
    /* font-weight: bold; */
}

.main-content .sub-title {
    color: rgb(238,49,69);
    font-size: 17px;
    font-weight: normal;
}

.main-content p {
    font-size: 13px;
    text-align: justify;
    margin-top: 0px;
}

.main-footer {
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgba(238,49,69,0.85);
    bottom: 0;
}

.navigation {
	border-bottom: 3px solid #cf293f;
}

.sub-content-title {
    font-size: 34px;
    font-weight: 300;
}

.sub-content-description p {
    font-size: 14px;
}

.main-image-overlay{
	background: rgba(0,0,0,0.5);
}



.title {
    text-transform: uppercase;
    font-size: 24px !important;
    padding: 10px;
    padding-bottom: 0px;
}

.main-content .title span {
    font-weight: bold;
}

.main-content .title {
    color: rgb(238,49,69);
    font-weight: 300;
    border-bottom: 1px solid;
    padding-left: 0;
}



.service-name {
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    height: 25px;
    margin-top: 5px;

}

.service-photo img {
    margin: 0 auto;
    display: block;
}
.service-container {
    background: rgba(255,255,255,0.8);
    margin: 2px;
    width: calc(25% - 4px);
    border-radius: 5px;
    float: left;
    padding: 25px 10px;
}

.service-photo {
    position: relative;
}

.service-photo img {
    width: 100%;
}

.service-container {
    background: none;
}

.service-photo {
    background: rgba(255,255,255,0.85);
    border-radius: 50%;
    padding: 20%;
    border: 3px solid #e73043;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    margin: 10%;
}

.service-container.active .service-photo{
    background: rgba(231,48,67,1);
    cursor: pointer;
    border: 3px solid #822730;
    margin: 0%;
}

.service-photo:hover {
    background: rgba(231,48,67,1);
    cursor: pointer;
    /*border-color: white;*/
    border: 3px solid #822730;

}

.service-photo:hover .image-red {
    display: none;
}
.service-container.active .service-photo .image-red{
    display: none;
}


.service-container.active .service-photo .image-white{
    display: block;
}
.service-photo:hover .image-white {
    display: block;
}
.service-photo .image-white {
    display: none;
}

p.tagline {
    text-align: center;
margin-top: 60px;
color: #cc2a3d;
font-size: 18px;
letter-spacing: 0.5px;
word-spacing: 4px;
font-family: Germania One;
font-weight: 200;
}

.row.service-description {
    padding-top: 10px;
}
.main-image img{
    display: none;
}
.main-image img.active{
    display: block;
}





/*======== Navigation for mobile =========*/

@media(max-width: 768px){
    body{
        overflow: auto;
    }
    
    .slide-btn {
        position: fixed;
        padding: 25px;
        top: 0;
        left: 0;
        z-index: 1;
        color: #000;
    }
    .site-logo{
        text-align: center;
        float: none;
    }
    .main-image{
        position: relative;
    }
    .main-content {
        background: rgba(255,255,255,0.85);
        width: 100% ;
        height: auto;
        position: relative;
        padding: 25px;
        -webkit-clip-path:none;
        -moz-clip-path:none;
        -o-clip-path:none;
        clip-path:none;
        right: 0px !important;
        top: 0px;
    }   
    .sub-content-title {
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
    .team-member-bio {
        float: left;
        width:100%;
    }
    .main-footer{
        position: fixed !important;
        bottom: 0 !important;
    }




    /*Team Adjustment*/
    .sub-content {
        position: absolute;
        width: 100%;
        padding:0px;
        left: 0px;
        top: 75px;
    }
    .service-container{
        padding: 0px 10px;
    }
    .main-image-overlay{
        min-height: 300px;
        max-height: 300px;
    }
    .main-image img {
        width: 100%;
        height: 300px;
        max-height: 300px;
    }
    .main-content{
        top: 285px !important;
    }

}


.row.service-description p span {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}


body{
    overflow-y:scroll;
}
.main-content{
    height: 100%;
    top: 100px;
}
.main-footer{
    position: fixed;
    bottom: 0px;
}
.main-image{
    position: fixed;
}

.sub-content-description{
    opacity: 0.001;
}
