/* team css */
.main-content .title {
    color: rgb(238,49,69);
    font-size: 35px;
    /* font-weight: bold; */
}

.main-content .sub-title {
    color: rgb(238,49,69);
    font-size: 17px;
    font-weight: normal;
}

.main-content p {
    font-size: 13px;
    text-align: justify;
    margin-top: 0px;
}

.main-footer {
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgba(238,49,69,0.85);
    bottom: 0;
}

.navigation {
	border-bottom: 3px solid #cf293f;
}

.member-photo {
    position: relative;
    /* width: 100px; */
}

.member-photo img {
    width: 100%;
    max-width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #fff;
}
.team-member-container.active .member-photo img {
    border: 3px solid rgb(238,49,69);
}
.team-member-container.active .member-name {
    color: rgb(238,49,69);
}
.member-name {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
}

/*.team-member-container {
    padding: 22px !important;
}
*/
.sub-content-title {
    font-size: 34px;
    font-weight: 300;
}

.sub-content-description p {
    font-size: 14px;
}

.main-image-overlay{
	background: rgba(0,0,0,0.3);
}

.team-member-container {
    float: left;
    padding: 15px !important;
    cursor: pointer;
}

.member-photo img {
    max-width: 60px;
}

.member-name {
    font-size: 10px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.member-photo img{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.team-member-container.active .member-photo img {
    max-width: 100px;
}

.team-member-container.active .member-name {
    font-size: 13px;
}

.team-member-photo img {
    max-width: 100px;
    border: 2px solid rgb(192, 189, 193);
    /* float: left; */
}

.team-member-photo {
    float: left;
}

.team-member-bio {
    float: left;
    width: calc(100% - 110px);
}

.team-member-photo {
    margin: 10px;
    margin-left: 0px;
}

.team-member-bio {
    padding-top: 9px;
}

.title {
    text-transform: uppercase;
    font-size: 24px !important;
    padding: 10px;
    padding-bottom: 0px;
}

.main-content .title span {
    font-weight: bold;
}

.main-content .title {
    color: rgb(238,49,69);
    font-weight: 300;
    border-bottom: 1px solid;
    padding-left: 0;
}




/*======== Navigation for mobile =========*/

@media(max-width: 768px){
    body{
        overflow: auto;
    }
    
    .slide-btn {
        position: fixed;
        padding: 25px;
        top: 0;
        left: 0;
        z-index: 1;
        color: #000;
    }
    .site-logo{
        text-align: center;
        float: none;
    }
    .main-image{
        position: relative;
    }
    .main-content {
        background: rgba(255,255,255,0.85);
        width: 100% ;
        height: auto;
        position: relative;
        padding: 25px;
        -webkit-clip-path:none;
        -moz-clip-path:none;
        -o-clip-path:none;
        clip-path:none;
        right: 0px !important;
        top: 0px;
    }   
    .sub-content-title {
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
    .team-member-bio {
        float: left;
        width:100%;
    }
    .main-footer{
        position: fixed !important;
        bottom: 0 !important;
    }


    /*Team Adjustment*/
    .sub-content {
        position: absolute;
        width: 100%;
        padding:0px;
        left: 0px;
        top: 75px;
    }
    .team-member-container {
        float: left;
        padding: 10px !important;
        cursor: pointer;
        margin: 0 auto !IMPORTANT;
    }
    .team-member-container.active .member-photo img {
        max-width: 75px;
    }


}