body{
    overflow: hidden;
}
.navigation {
    border-bottom: 3px solid #cf293f;
}
#testimonial{
    height: 450px !important;
}


.testimonials-area{
    margin-top: 120px;
    
}
.test-bg{
    background: rgba(0, 0, 0, 0.75);
}
.test-img img {
    width: 120px;
    height: auto;
    border: 3px solid rgb(238,49,69);
    border-radius: 50%;
}
.carousel-item {
    padding: 50px;
}
.test-name{
    font-weight: 500;
    color: rgba(238,49,69,0.85);
}
.test-desc {
    font-weight: 300;
    color: rgba(255,255,255,0.5);
}
.main-footer {
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgba(238,49,69,0.85);
    bottom: 0;
}
.test-arrows{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 32px;
}
.test-left {
    padding: 10% 20%;
    left: 0 !important;
    top: 0;
    z-index: 2;
    position: absolute;
}
.test-right {
    padding: 10% 20%;
    z-index: 2;
    right: 0 !important;
    top: 0;
    position: absolute;
}
/*======== Navigation for mobile =========*/

@media(max-width: 768px){
    body{
        overflow: auto;
    }
    
    .testimonials-area.carousel {
         height: 100% !important; 
         overflow-x:hidden !important; 
         overflow-y: scroll !important; 
    } 
    .testimonials-area.carousel .carousel-item {
         width: 100% !important; 
         height: 100% !important; 
    } 

    #testimonial {
        height: 450px !important;
        overflow-y: auto;
        height: 100vh !important;
        margin-bottom: 25px;
    }

    html,body{ overflow-x:hidden; height:100vh; }

    .testimonials-area{
        position: inherit;
    }
    .slide-btn {
        position: fixed;
        padding: 25px;
        top: 0;
        left: 0;
        z-index: 1;
        color: #000;
    }
    .site-logo{
        text-align: center;
        float: none;
    }
    .main-image{
        position: fixed;
    }
    .navigation {
        padding: 4px;
        padding-left: 20px;
        position: fixed;
        top: 0;
    }
    .test-arrows{
        display: none;
    }
    .main-content {
        background: rgba(255,255,255,0.85);
        width: 100% ;
        height: auto;
        position: relative;
        padding: 25px;
        -webkit-clip-path:none;
        -moz-clip-path:none;
        -o-clip-path:none;
        clip-path:none;
        right: 0px !important;
        top: 0px;
    }   
    .sub-content-title {
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
    .team-member-bio {
        float: left;
        width:100%;
    }
    .main-footer{
        position: fixed !important;
        bottom: 0 !important;
    }


    /*Team Adjustment*/
    .sub-content {
        position: absolute;
        width: 100%;
        padding:0px;
        left: 0px;
        top: 75px;
    }
    .team-member-container {
        float: left;
        padding: 10px !important;
        cursor: pointer;
        margin: 0 auto !IMPORTANT;
    }
    .team-member-container.active .member-photo img {
        max-width: 75px;
    }
    .main-image img {
        width: auto;
        height: 100%;
    }
}
